<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>serverRequestTimeOut</key>
	<integer>30</integer>
	<key>ServiceURL</key>
	<string>http://192.168.16.194:9080/ebankingApps</string>
	<key>localSessionTimeoutDefault</key>
	<integer>60</integer>
</dict>
</plist>
